In [1]:
import pandas as pd
import numpy as np

# 갓

In [2]:
mus = pd.read_excel('갓.xlsx', parse_dates=['일자'])

In [3]:
mus

              일자  도매시장        법인    부류 품목       출하지  물량(kg)    금액(원)
0     2021-04-27  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시  1128.0  1106850
1     2021-04-26  서울가락   동화청과(주)  엽경채류  갓   경기도 고양시    12.0    30000
2     2021-04-21  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   976.0   817400
3     2021-04-19  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   880.0   643500
4     2021-04-15  서울가락   한국청과(주)  엽경채류  갓   경기도 고양시   752.0   681500
...          ...   ...       ...   ... ..       ...     ...      ...
56719 2021-05-19    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    10.0    19000
56720 2021-05-25    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시     7.5    11000
56721 2021-05-28    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시    15.0    23000
56722 2021-08-24    강릉  (주)강릉농산물  엽경채류  갓   경기도 고양시    15.0    38000
56723 2021-08-30    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    15.0    38000

[56724 rows x 8 columns]

In [4]:
mus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56724 entries, 0 to 56723
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      56724 non-null  datetime64[ns]
 1   도매시장    56724 non-null  object
 2   법인      56724 non-null  object
 3   부류      56724 non-null  object
 4   품목      56724 non-null  object
 5   출하지     56724 non-null  object
 6   물량(kg)  56724 non-null  float64
 7   금액(원)   56724 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 3.5+ MB

## 법인

In [5]:
mus.drop(columns=['법인'], axis=1, inplace=True)

## 출하지

In [6]:
mus['출하지'].unique()

array(['경기도 남양주시', '경기도 고양시', '경기도 구리시', '경기도 포천시', '경기도 여주군', '경기도 파주시',
       '경기도 안성시', '충청남도 당진군', '전라남도 무안군', '-', '전라남도 여수시', '서울특별시 송파구',
       '충청남도 예산군', '제주도 제주시', '서울 중구', '전라남도 장성군', '전라남도 신안군', '경기도 이천시',
       '서울특별시 은평구', '서울특별시', '경기도 양주시', '충청남도 서산시', '서울특별시 중랑구',
       '경기도 김포시', '경기도 광주시', '서울특별시 강동구', '충청북도 음성군', '강원도 홍천군',
       '경기도 하남시', '충청남도 홍성군', '경기도 양평군', '경기도 용인시', '충청남도 서천군', '강원도 철원군',
       '전라남도 해남군', '충청남도 부여군', '강원도 횡성군', '충청북도 진천군', '서울특별시 도봉구',
       '서울특별시 서대문구', '강원도 양구군', '경상남도 남해군', '전라남도 완도군', '전라북도 익산시',
       '강원도 춘천시', '전라남도 목포시', '충청남도 보령시', '충청북도 충주시', '경기도 평택시',
       '경기도 성남시', '서울 강서구', '서울특별시 양천구', '경기도', '인천광역시 계양구', '전라남도',
       '경기도 연천군', '경기도 의정부시', '충청남도 아산시', '경기도 광명시', '경기도 부천시', '경기도 시흥시',
       '충청남도 논산시', '충청남도', '충청북도 영동군', '경기도 수원시', '경기도 화성시', '경상남도 창녕군',
       '강원도 평창군', '경상남도 밀양시', '인천광역시 남동구', '충청남도 천안시', '전라남도 나주시',
       '충청남도 금산군', '전라남도 보성군', '경기도 안양시', '충청남도 공주시', '경기도 동두천시',
       '경기도 안산시', '경기도 군포시', '경상북도 경주시', '강원도 강릉시', '전라남도 진도군',
       '서울특별시 동대문구', '대구광역시', '경기도 의왕시', '전라남도 고흥군', '광주광역시', '충청남도 태안군',
       '대구광역시 달성군', '충청북도 괴산군', '경기도 가평군', '전라북도 전주시', '전라북도 장수군',
       '인천 중구', '인천광역시', '경상북도 안동시', '인천광역시 연수구', '인천광역시 부평구',
       '인천광역시 강화군', '전라남도 영암군', '강원도 태백시', '전라북도 완주군', '서울특별시 용산구',
       '인천 동구', '인천 서구', '서울특별시 영등포구', '경상북도 영주시', '경상남도 합천군', '전라남도 순천시',
       '경상남도 함안군', '전라남도 광양시', '광주 남구', '전라남도 장흥군', '광주 북구', '광주광역시 광산구',
       '광주 동구', '광주 서구', '전라남도 화순군', '부산광역시 사상구', '전라남도 담양군', '전라남도 곡성군',
       '전라북도 정읍시', '전라북도 순창군', '전라남도 강진군', '전라남도 함평군', '전라북도 고창군',
       '전라남도 영광군', '경상남도 진주시', '전라북도', '부산광역시 해운대구', '강원도', '서울특별시 종로구',
       '부산 남구', '전라북도 무주군', '전라북도 김제시', '전라북도 부안군', '전라북도 진안군',
       '전라북도 임실군', '대전광역시 대덕구', '대전 중구', '대전 동구', '충청북도 청원군', '충청북도 옥천군',
       '충청북도 청주시', '대전 서구', '대전광역시', '세종시 세종시', '경상남도 사천시', '충청북도 보은군',
       '충청북도 제천시', '경상북도 김천시', '대전광역시 유성구', '경상남도', '부산광역시', '충청북도',
       '경상북도 포항시', '전라북도 남원시', '충청북도 증평군', '서울특별시 강남구', '충청남도 청양군',
       '경상북도 예천군', '경상북도 문경시', '경상북도', '경상북도 상주시', '경상북도 의성군', '경상북도 봉화군',
       '경상북도 영양군', '경상북도 청송군', '대구 북구', '경상북도 구미시', '경상북도 칠곡군',
       '경상남도 고성군', '경상북도 군위군', '경상북도 경산시', '경상북도 성주군', '경상남도 거창군',
       '경상남도 산청군', '경상남도 하동군', '경상남도 창원시 마산회원구', '경상남도 창원시 의창(성산)구',
       '경상남도 김해시', '경상남도 통영시', '경상남도 양산시', '대구 중구', '경상남도 의령군',
       '경상남도 진해시', '부산광역시 기장군', '경상남도 거제시', '강원도 고성군', '경상북도 고령군',
       '부산 강서구', '부산 중구', '부산 북구', '부산광역시 사하구', '울산광역시', '강원도 영월군',
       '경상북도 청도군', '대구광역시 달서구', '울산광역시 울주군', '울산 남구', '울산 중구', '경상북도 영천시',
       '울산 북구', '경상북도 영덕군', '강원도 원주시', '강원도 동해시', '강원도 속초시', '강원도 정선군'],
      dtype=object)

In [7]:
drop_index = mus[(mus['출하지'] == '-')].index
mus.drop(index = drop_index, axis=0, inplace=True)

In [8]:
name_split = mus['출하지'].str.split(" ")
mus['출하지'] = name_split.str.get(0)

In [9]:
mus['출하지'].replace('광주','광주광역시',inplace=True)
mus['출하지'].replace('대구','대구광역시',inplace=True)
mus['출하지'].replace('대전','대전광역시',inplace=True)
mus['출하지'].replace('부산','부산광역시',inplace=True)
mus['출하지'].replace('서울','서울특별시',inplace=True)
mus['출하지'].replace('울산','울산광역시',inplace=True)
mus['출하지'].replace('인천','인천광역시',inplace=True)

In [10]:
mus['출하지'].unique()

array(['경기도', '충청남도', '전라남도', '서울특별시', '제주도', '충청북도', '강원도', '경상남도',
       '전라북도', '인천광역시', '경상북도', '대구광역시', '광주광역시', '부산광역시', '대전광역시', '세종시',
       '울산광역시'], dtype=object)

## 물량/금액

In [11]:
mus[(mus['금액(원)'] <= 0)|(mus['물량(kg)'] <=0)]

              일자  도매시장    부류 품목    출하지  물량(kg)    금액(원)
155   2021-04-12  서울가락  엽경채류  갓    경기도   -96.0   -57000
606   2021-03-25  서울가락  엽경채류  갓    경기도     0.0        0
658   2021-01-06  서울가락  엽경채류  갓   전라남도     0.0        0
890   2020-08-08  서울가락  엽경채류  갓    경기도     0.0  -315000
1151  2019-08-01  서울가락  엽경채류  갓    경기도   -88.0  -103400
...          ...   ...   ... ..    ...     ...      ...
43976 2020-11-12    천안  엽경채류  갓   충청남도  -240.0  -312000
44773 2021-07-24    천안  엽경채류  갓  서울특별시   -10.0   -16000
50895 2019-05-02  부산엄궁  엽경채류  갓  부산광역시     0.0        0
51320 2021-05-04  부산엄궁  엽경채류  갓  부산광역시   210.0 -5460000
56160 2019-01-23    춘천  엽경채류  갓  울산광역시   -30.0   -68000

[67 rows x 7 columns]

In [12]:
drop_index2 = mus[(mus['금액(원)'] <= 0)|(mus['물량(kg)'] <=0)].index
mus.drop(index= drop_index2, axis=0, inplace=True)

## 단위당금액

In [13]:
mus['단위당금액'] = round(mus['금액(원)']/mus['물량(kg)'],0)

In [14]:
mus['단위당금액'] = mus['단위당금액'].astype(int)

In [15]:
mus

              일자  도매시장    부류 품목  출하지  물량(kg)    금액(원)  단위당금액
0     2021-04-27  서울가락  엽경채류  갓  경기도  1128.0  1106850    981
1     2021-04-26  서울가락  엽경채류  갓  경기도    12.0    30000   2500
2     2021-04-21  서울가락  엽경채류  갓  경기도   976.0   817400    838
3     2021-04-19  서울가락  엽경채류  갓  경기도   880.0   643500    731
4     2021-04-15  서울가락  엽경채류  갓  경기도   752.0   681500    906
...          ...   ...   ... ..  ...     ...      ...    ...
56719 2021-05-19    강릉  엽경채류  갓  경기도    10.0    19000   1900
56720 2021-05-25    강릉  엽경채류  갓  경기도     7.5    11000   1467
56721 2021-05-28    강릉  엽경채류  갓  경기도    15.0    23000   1533
56722 2021-08-24    강릉  엽경채류  갓  경기도    15.0    38000   2533
56723 2021-08-30    강릉  엽경채류  갓  경기도    15.0    38000   2533

[53346 rows x 8 columns]

## 저장

In [16]:
mus.to_excel('갓_수정.xlsx', index=False)

In [19]:
mus2 = pd.read_excel('갓_수정.xlsx')

In [22]:
mus2

              일자  도매시장    부류 품목  출하지  물량(kg)    금액(원)  단위당금액
0     2021-04-27  서울가락  엽경채류  갓  경기도  1128.0  1106850    981
1     2021-04-26  서울가락  엽경채류  갓  경기도    12.0    30000   2500
2     2021-04-21  서울가락  엽경채류  갓  경기도   976.0   817400    838
3     2021-04-19  서울가락  엽경채류  갓  경기도   880.0   643500    731
4     2021-04-15  서울가락  엽경채류  갓  경기도   752.0   681500    906
...          ...   ...   ... ..  ...     ...      ...    ...
53341 2021-05-19    강릉  엽경채류  갓  경기도    10.0    19000   1900
53342 2021-05-25    강릉  엽경채류  갓  경기도     7.5    11000   1467
53343 2021-05-28    강릉  엽경채류  갓  경기도    15.0    23000   1533
53344 2021-08-24    강릉  엽경채류  갓  경기도    15.0    38000   2533
53345 2021-08-30    강릉  엽경채류  갓  경기도    15.0    38000   2533

[53346 rows x 8 columns]