In [1]:
import pandas as pd
import numpy as np

In [2]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# data

## 갓

In [3]:
mus = pd.read_excel('갓.xlsx', parse_dates=['일자'])

In [4]:
mus

              일자  도매시장        법인    부류 품목       출하지  물량(kg)    금액(원)
0     2021-04-27  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시  1128.0  1106850
1     2021-04-26  서울가락   동화청과(주)  엽경채류  갓   경기도 고양시    12.0    30000
2     2021-04-21  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   976.0   817400
3     2021-04-19  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   880.0   643500
4     2021-04-15  서울가락   한국청과(주)  엽경채류  갓   경기도 고양시   752.0   681500
...          ...   ...       ...   ... ..       ...     ...      ...
56719 2021-05-19    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    10.0    19000
56720 2021-05-25    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시     7.5    11000
56721 2021-05-28    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시    15.0    23000
56722 2021-08-24    강릉  (주)강릉농산물  엽경채류  갓   경기도 고양시    15.0    38000
56723 2021-08-30    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    15.0    38000

[56724 rows x 8 columns]

In [5]:
mus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56724 entries, 0 to 56723
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      56724 non-null  datetime64[ns]
 1   도매시장    56724 non-null  object
 2   법인      56724 non-null  object
 3   부류      56724 non-null  object
 4   품목      56724 non-null  object
 5   출하지     56724 non-null  object
 6   물량(kg)  56724 non-null  float64
 7   금액(원)   56724 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 3.5+ MB

In [6]:
mus.describe()

             물량(kg)         금액(원)
count  56724.000000  5.672400e+04
mean     512.507353  7.608344e+05
std     1128.148923  2.702565e+06
min     -600.000000 -5.460000e+06
25%       52.000000  6.300000e+04
50%      176.000000  1.830000e+05
75%      490.000000  5.635000e+05
max    26169.000000  1.423656e+08

In [7]:
mus[(mus['금액(원)'] <= 0)|(mus['물량(kg)'] <=0)]

              일자  도매시장         법인    부류 품목        출하지  물량(kg)    금액(원)
155   2021-04-12  서울가락    동화청과(주)  엽경채류  갓    경기도 포천시   -96.0   -57000
606   2021-03-25  서울가락    한국청과(주)  엽경채류  갓    경기도 고양시     0.0        0
658   2021-01-06  서울가락    (주)중앙청과  엽경채류  갓   전라남도 신안군     0.0        0
701   2020-08-27  서울가락    서울청과(주)  엽경채류  갓          -  -128.0  -120000
890   2020-08-08  서울가락    동화청과(주)  엽경채류  갓    경기도 포천시     0.0  -315000
...          ...   ...        ...   ... ..        ...     ...      ...
43976 2020-11-12    천안    천안청과(주)  엽경채류  갓   충청남도 논산시  -240.0  -312000
44773 2021-07-24    천안    천안청과(주)  엽경채류  갓  서울특별시 강남구   -10.0   -16000
50895 2019-05-02  부산엄궁      항도청과㈜  엽경채류  갓      부산광역시     0.0        0
51320 2021-05-04  부산엄궁      항도청과㈜  엽경채류  갓      부산광역시   210.0 -5460000
56160 2019-01-23    춘천  춘천중앙청과(주)  엽경채류  갓      울산 남구   -30.0   -68000

[71 rows x 8 columns]

In [8]:
drop_index = mus[(mus['금액(원)'] <= 0)|(mus['물량(kg)'] <=0)].index
mus.drop(index= drop_index, axis=0, inplace=True)

In [10]:
mus

              일자  도매시장        법인    부류 품목       출하지  물량(kg)    금액(원)
0     2021-04-27  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시  1128.0  1106850
1     2021-04-26  서울가락   동화청과(주)  엽경채류  갓   경기도 고양시    12.0    30000
2     2021-04-21  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   976.0   817400
3     2021-04-19  서울가락   동화청과(주)  엽경채류  갓  경기도 남양주시   880.0   643500
4     2021-04-15  서울가락   한국청과(주)  엽경채류  갓   경기도 고양시   752.0   681500
...          ...   ...       ...   ... ..       ...     ...      ...
56719 2021-05-19    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    10.0    19000
56720 2021-05-25    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시     7.5    11000
56721 2021-05-28    강릉  (주)강릉농산물  엽경채류  갓   경기도 포천시    15.0    23000
56722 2021-08-24    강릉  (주)강릉농산물  엽경채류  갓   경기도 고양시    15.0    38000
56723 2021-08-30    강릉  (주)강릉농산물  엽경채류  갓   경기도 이천시    15.0    38000

[56653 rows x 8 columns]

In [16]:
mus[mus['출하지'] == '수입산']

Empty DataFrame
Columns: [일자, 도매시장, 법인, 부류, 품목, 출하지, 물량(kg), 금액(원)]
Index: []

In [17]:
mus[(mus['출하지'] == '-')]

              일자  도매시장       법인    부류 품목 출하지  물량(kg)    금액(원)
189   2021-04-24  서울가락  서울청과(주)  엽경채류  갓   -   416.0   260000
295   2021-02-16  서울가락  서울청과(주)  엽경채류  갓   -   288.0   468000
601   2021-02-02  서울가락  서울청과(주)  엽경채류  갓   -   240.0   900000
607   2021-06-12  서울가락  서울청과(주)  엽경채류  갓   -  1296.0  1052000
611   2021-03-26  서울가락  서울청과(주)  엽경채류  갓   -   904.0   674750
...          ...   ...      ...   ... ..  ..     ...      ...
55647 2019-11-25    포항  포항농협(공)  엽경채류  갓   -    39.0    70980
55648 2019-12-09    포항  포항농협(공)  엽경채류  갓   -   130.0   156000
55650 2020-12-07    포항  포항농협(공)  엽경채류  갓   -    67.0   168840
55651 2020-11-26    포항  포항농협(공)  엽경채류  갓   -    60.0   115800
55655 2020-11-02    포항  포항농협(공)  엽경채류  갓   -    26.0    13000

[3307 rows x 8 columns]

In [18]:
drop_index2 = mus[(mus['출하지'] == '-')].index
mus.drop(index = drop_index2, axis=0, inplace=True)

In [26]:
mus

              일자  도매시장    부류 품목       출하지  물량(kg)    금액(원)  단위당금액
0     2021-04-27  서울가락  엽경채류  갓  경기도 남양주시  1128.0  1106850    981
1     2021-04-26  서울가락  엽경채류  갓   경기도 고양시    12.0    30000   2500
2     2021-04-21  서울가락  엽경채류  갓  경기도 남양주시   976.0   817400    838
3     2021-04-19  서울가락  엽경채류  갓  경기도 남양주시   880.0   643500    731
4     2021-04-15  서울가락  엽경채류  갓   경기도 고양시   752.0   681500    906
...          ...   ...   ... ..       ...     ...      ...    ...
56719 2021-05-19    강릉  엽경채류  갓   경기도 이천시    10.0    19000   1900
56720 2021-05-25    강릉  엽경채류  갓   경기도 포천시     7.5    11000   1467
56721 2021-05-28    강릉  엽경채류  갓   경기도 포천시    15.0    23000   1533
56722 2021-08-24    강릉  엽경채류  갓   경기도 고양시    15.0    38000   2533
56723 2021-08-30    강릉  엽경채류  갓   경기도 이천시    15.0    38000   2533

[53346 rows x 8 columns]

In [20]:
mus.drop(columns=['법인'], axis=1, inplace=True)

In [22]:
mus['단위당금액'] = round(mus['금액(원)']/mus['물량(kg)'],0)

In [25]:
mus['단위당금액'] = mus['단위당금액'].astype(int)

In [28]:
name_split = mus['출하지'].str.split(" ")
mus['출하지'] = name_split.str.get(0)

In [36]:
mus['출하지'].unique()

array(['경기도', '충청남도', '전라남도', '서울특별시', '제주도', '충청북도', '강원도', '경상남도',
       '전라북도', '인천광역시', '경상북도', '대구광역시', '광주광역시', '부산광역시', '대전광역시', '세종시',
       '울산광역시'], dtype=object)

In [33]:
mus['출하지'].replace('광주','광주광역시',inplace=True)
mus['출하지'].replace('대구','대구광역시',inplace=True)
mus['출하지'].replace('대전','대전광역시',inplace=True)
mus['출하지'].replace('부산','부산광역시',inplace=True)
mus['출하지'].replace('서울','서울특별시',inplace=True)
mus['출하지'].replace('울산','울산광역시',inplace=True)
mus['출하지'].replace('인천','인천광역시',inplace=True)

In [37]:
mus['출하지'].unique()

array(['경기도', '충청남도', '전라남도', '서울특별시', '제주도', '충청북도', '강원도', '경상남도',
       '전라북도', '인천광역시', '경상북도', '대구광역시', '광주광역시', '부산광역시', '대전광역시', '세종시',
       '울산광역시'], dtype=object)

In [38]:
mus.to_excel('갓_수정.xlsx', index=False)