In [ ]:
x = 3
x.real

In [ ]:
x.imag

In [ ]:
x = 3; y = 2
x,y

In [ ]:
print(0o10) # ‘0o’ denote octal: 8
print(0x10) # ‘0x’ denote hexadecimal: 16
print(0b10) # ‘0b’ denote binary: 2

In [ ]:
globals()

In [ ]:
dir() # simple version of globals()

In [ ]:
dir(__builtins__)

In [ ]:
__builtins__

In [ ]:
2 + 2

In [ ]:
50 - 5*6

In [ ]:
8/5

In [ ]:
8//5

In [ ]:
8%5

In [ ]:
5**2

In [ ]:
width = 20
height = 5*9
width*height

In [ ]:
tax = 12.5/100
price = 100.5
price*tax

In [ ]:
_

In [ ]:
price + _

In [ ]:
round(_,2)

In [ ]:
_2

In [ ]:
_i1

In [ ]:
__

In [ ]:
___

In [ ]:
_i

In [ ]:
_ii

In [ ]:
_iii

In [ ]:
1+2j

In [ ]:
x = 2+4j
print(x.real)
print(x.imag)

In [ ]:
x.conjugate()

In [ ]:
'spam eggs'

In [ ]:
'doesn\'t'

In [ ]:
'"Yes, " he said'

In [ ]:
"\"Yes, \" he said"

In [ ]:
s = 'First line. \nSecond line.'
print(s)
s

In [ ]:
'un'*3 + 'ium'

In [ ]:
'py' 'thon'

In [ ]:
prefix = 'py'

In [ ]:
prefix 'thon'

In [ ]:
prefix + 'thon'

In [ ]:
type(1)

In [ ]:
type(2**31)

In [ ]:
type(3.14)

In [ ]:
type(314e-2)

In [ ]:
x = 3-4j

In [ ]:
type(x)

In [ ]:
x.conjugate()

In [ ]:
r = 2
circle_area = 3.14 * (r**2)

In [ ]:
x = 3
y = 4
triangle_area = x*y /2

In [ ]:
print(circle_area, triangle_area)

In [ ]:
2 // 3 # integer

In [ ]:
5 // 2 # integer

In [ ]:
17 % 5

In [ ]:
17 / 5

In [ ]:
'string'

In [ ]:
"string"

In [ ]:
"This is 'string'"

In [ ]:
type('string')

In [ ]:
print("\t탭\n다음줄 \' \" \\")

In [ ]:
print(""" Text1
               Text2 """)

In [ ]:
a = 'python'; a[1:4] # 'yth'

In [ ]:
a[-6:-3] # 'pyt'

In [ ]:
a[-2:] # 'on'

In [ ]:
a[0:1]

In [ ]:
a[1:4]

In [ ]:
a[:2]

In [ ]:
a[-4:]

In [ ]:
a[:]

In [ ]:
a[0]

In [ ]:
a[5]

In [ ]:
a[0] = 'a' # error (it is not allowed)

In [ ]:
b = list(a)
print(b)
b[0] = 'a'
print(b)
"".join(b)

In [ ]:
"a b,c".split(',')

In [ ]:
'C'+a[1:]

In [ ]:
a[-1:-7:-1]

In [ ]:
a[::-1]

In [ ]:
str(3.14)

In [ ]:
int('49')

In [ ]:
int('49.3')

In [ ]:
float('216')

In [ ]:
float('213.5')

In [ ]:
# List
squares = [1, 4, 9, 16, 25]

In [ ]:
squares[0]

In [ ]:
squares[-1]

In [ ]:
squares[-3:]

In [ ]:
squares + [36, 49, 64, 81, 100]

In [ ]:
colors = ['red', 'green', 'gold']
colors

In [ ]:
type(colors)

In [ ]:
colors.append('blue')
colors

In [ ]:
#insert 'black' at position 1
colors.insert(1,'black')
colors

In [ ]:
# arg type : list or tuple
colors.extend(['white', 'gray'])
colors

In [ ]:
colors += ['red'] # colors.extend(['red'])
colors

In [ ]:
colors += 'red' # colors.extend(['r','e','d'])
colors

In [ ]:
colors.index('red')

In [ ]:
# return first matched location
colors.index('red',1) # searching from index 1

In [ ]:
colors.index('red',1,5) # searching from 1 to 5

In [ ]:
colors.count('red') #count ‘red’ in colors object

In [ ]:
colors.pop()  # pop the last element

In [ ]:
colors

In [ ]:
colors.pop(1) # pop item on location 1

In [ ]:
colors.sort()
colors

In [ ]:
colors.reverse()
colors

In [ ]:
letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters[2:5] = ['C', 'D', 'E']

In [ ]:
letters

In [ ]:
letters[2:5] = []
letters

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

In [ ]:
x[0]
x[0][1]

In [ ]:
# set
a = {1, 2, 3}
b = {3, 4, 5}
type(a)

In [ ]:
a.union(b) # A union B

In [ ]:
a.intersection(b) # A intersection B

In [ ]:
a - b  # set difference

In [ ]:
b - a

In [ ]:
a | b # a.union(b)

In [ ]:
a & b #  a.intersection(b)

In [ ]:
a ^ b # XOR

In [ ]:
a = set('abracadabra')
a

In [ ]:
b = set('alacazam')
a - b

In [ ]:
a | b

In [ ]:
a ^ b

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

In [ ]:
# tuple
t = (12345, 54321, 'hello!')
t

In [ ]:
t[0]

In [ ]:
u = t, (1,2,3,4,5)
u

In [ ]:
t[0] = 8888 # immutable

In [ ]:
v = ([1,2,3], [3,2,1])
v[0][2] = 4
v

In [ ]:
t = 123, 321, 'hello'
t

In [ ]:
x, y, z = t

type(x)
type(y)
type(z)
type(t)

In [ ]:
a = set( (1,2,3))
a

In [ ]:
b = list(a)
b

In [ ]:
c = tuple(b)
c

In [ ]:
type(c)

In [ ]:
print(2 in a)
print(2 in b)
print(2 in c)

In [ ]:
color = {'apple':'red', 'banana':'yellow'}
color

In [ ]:
type(color)

In [ ]:
color[0]

In [ ]:
color['apple']

In [ ]:
color['cherry'] = 'red'
color

In [ ]:
color['apple'] = 'green'
for c in color.items():
    print(c) # first insert tap (indentation)

In [ ]:
# return each value from tuple color.items()
for k, v in color.items():
    print(k,v)

In [ ]:
for k in color.keys():
    print(k) # return keys

In [ ]:
for v in color.values():
    print(v) # return values

In [ ]:
del color['cherry']
color

In [ ]:
color.clear()
color

In [ ]:
tel = {'jack':4098, 'sape':4139}
tel

In [ ]:
tel['guido'] = 4127
tel

In [ ]:
tel['jack']

In [ ]:
del tel['sape']
tel

In [ ]:
tel['irv']=4127
tel

In [ ]:
list(tel.keys())

In [ ]:
sorted(tel.keys())

In [ ]:
'guido' in tel

In [ ]:
'jack' in tel

In [ ]:
dict([ ('sape',4139), ('guido', 4127)])

In [ ]:
{x: x**2 for x in (2,4,6)}

In [ ]:
dict(sape=4139, guido=4127)

In [ ]:
#bool
a = False ; type(a)

In [ ]:
1 < 2

In [ ]:
1 != 2

In [ ]:
1 ==2

In [ ]:
True & False # True and False

In [ ]:
True | False # True or False

In [ ]:
not True

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
# shallow copy
a = [1,2,3]
b = a
a[0] = 38

In [ ]:
print(a)
print(b)

In [ ]:
print(id(a))
print(id(b))

In [ ]:
c = a.copy()
a[0] =1
print(a)
print(c)

In [ ]:
print(id(a))
print(id(c))

In [ ]:
d = a[:]
print(id(a))
print(id(d))

In [ ]:
# function
def Times(a,b):
    return a*b

In [ ]:
Times

In [ ]:
Times(10,10)

In [ ]:
myTimes = Times # shallow copy

In [ ]:
myTimes

In [ ]:
myTimes(10,10)

In [ ]:
# local and global
x = 1
def func(a):
    return a + x
func(1)

In [ ]:
def func2(a):
    x = 2
    return a + x
func2(1)
print(x)

In [ ]:
def func3(a):
    global x
    x = 2
    return a + x
func3(1)
print(x)

In [ ]:
def Times(a=10, b=20):
    return a*b
Times()
Times(5)

In [ ]:
def Times(a,b=20):
    return a*b
Times(5)

In [ ]:
def Times(a=10,b):
    return a*b

In [ ]:
def connectURL(server, port):
    str = 'http://' + server + ":"+ port
    return str

connectURL('test.com','8080')

In [ ]:
connectURL(port='8080',server='test.com')

In [ ]:
connectURL('test.com',port='8080')

In [ ]:
connectURL(server='test.com', '8080')

In [ ]:
# if-elif-else
score = int(input('Input score: '))
if 90 <= score <= 100 :
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else :
    grade = 'F'
print('Grade is ' + grade)

In [ ]:
value = 5
while value > 0:
    print(value)
    value -= 1

In [ ]:
l = [ 'Apple', 100, 15.23]
for i in l:
    print(i, type(i))

In [ ]:
for i in range(10,20,2):
    print(i)

In [ ]:
range(10)
list(range(10))

In [ ]:
# list(range(from,to,by))
for i in range(1, 11, 1):
    if i % 2 == 0:
        continue
    print('Item : {0}'.format(i))
else:
    print('Exit without break.')
print('Always this is printed')

In [ ]:
for i in range(1, 11, 1):
    if i > 5:
        break
    print('Item : {0}'.format(i))
else:
    print('Exit without break.')
print('Always this is printed')

In [ ]:
# input/output
import sys
print('Welcome to','python',sep='**', end='!',file=sys.stdout)
ff = open('/home/stat/test1.txt','w')
print('file write', file=ff)
ff.close()

In [ ]:
print('{0} is {1}'.format('Apple','red'))
for i in range(1,6):
    print('{1} * {0} = {2}'.format(i,i+1,(i+1)*i))

In [ ]:
# input
a = input('Insert any keys : ')
print(a)

In [ ]:
xStr = input('Enter a number: ')
yStr = input('Enter a number: ')
x = int(xStr)
y = int(yStr)
print('The sum of ', x, ' and ', y, ' is ', x+y, '.', sep='')

In [ ]:
# open
f = open('/home/stat/test2.txt','wt')
f.write('Hi \n Good morning!')
f.close()

In [ ]:
f2 = open('/home/stat/test2.txt','r')
s = f2.read()
print(s)

In [ ]:
s

In [ ]:
f.close()

In [ ]:
f.closed

In [ ]:
# format
'%s' % 42 # 문자열

In [ ]:
'%d' % 42 # 10진 정수

In [ ]:
'%x' % 42 # 16진 정수

In [ ]:
'%o' % 42 # 8진 정수

In [ ]:
'%s' % 7.03 # 문자열

In [ ]:
'%f' % 7.03 # 10진 부동소수점수

In [ ]:
'%e' % 42 # 지수로 나타낸 부동소수점수

In [ ]:
'%d%%' % 100

In [ ]:
actor = 'Richard Gere'
cat = 'Chester'
weight = 28
"My wife's favorite actor is %s" % actor

In [ ]:
# 여러 데이터 항목은 튜플로
"Our cat %s weighs %s pounds" % (cat, weight)

In [ ]:
n = 42
f = 7.03
s = 'string cheese'
# 기본 포맷
'%d %f %s' % (n, f, s)

In [ ]:
# 최소 10자의 필드, 오른쪽 정렬
'%10d %10f %10s' % (n, f, s)

In [ ]:
# 최소 10자의 필드, 왼쪽 정렬
'%-10d %-10f %-10s' % (n, f, s)

In [ ]:
# 순서 지정 가능
'{2} {0} {1}'.format(n, f, s)

In [ ]:
# 인자 지정 가능
'{n} {f} {s}'.format(n=42, f=7.03, s='string')

In [ ]:
# 최소 필드 길이 10, 오른쪽 정렬
'{0:10d} {1:10f} {2:10s}'.format(n, f, s)

In [ ]:
# '>' : 오른쪽 정렬
'{0:>10d} {1:>10f} {2:>10s}'.format(n, f, s)

In [ ]:
# '<' : 왼쪽 정렬
'{0:<10d} {1:<10f} {2:<10s}'.format(n, f, s)

In [ ]:
# '^' : 가운데 정렬
'{0:^10d} {1:^10f} {2:^10s}'.format(n, f, s)

In [ ]:
# 새로운 스타일에서는 정수에 최대 자리수 표현 불가
'{0:>10.4d} {1:>10.4f} {2:>10.4s}'.format(n, f, s)

In [ ]:
# ValueError 발생
'{0:>10d} {1:>10.4f} {2:>10.4s}'.format(n, f, s)

'{0:10d} {1:10.4f} {2:10.4s}'.format(n, f, s)

In [ ]:
import re
res = re.match('You', 'Young Frankenstein')
res

In [ ]:
youpattern = re.compile('You')
res2 = youpattern.match('Young Frankenstein')
res2

In [ ]:
res = re.match('You', 'Young Frankenstein')
res

In [ ]:
res2 = re.match('Fran', 'Young Frankenstein')
res2

In [ ]:
import re
source = 'Young Frankenstein'
m = re.search('Frank', source)
if m:
    print(m.group())
m

In [ ]:
import re
source = 'Young Frankenstein'
re.findall('e.?n',source)
m = re.findall('n.?', source)
m

In [ ]:
import re
source = 'Young Frankenstein'
m = re.split('n', source)
m

In [ ]:
m = re.sub('n', '?', source)
m

In [ ]:
import re
import string
# string 모듈에 내장된 테스트 문자열 상수
printable = string.printable
len(printable)

In [ ]:
printable[0:50]

In [ ]:
printable[50:]

In [ ]:
re.findall('\d', printable) # 모든 숫자 찾기

In [ ]:
re.findall('\w', printable) #숫자와 문자,언더스코어

In [ ]:
re.findall('\s', printable) # 공백 문자

In [ ]:
source = '''I wish I may, I wish I might 
Have a dish of fish tonight.'''
source

In [ ]:
re.findall('wish', source) # wish

In [ ]:
re.findall('wish|fish', source) # wish or fish

In [ ]:
re.findall('^wish', source) # wish로 시작

In [ ]:
re.findall('^I wish', source) # I wish로 시작

In [ ]:
re.findall('fish$', source) # fish로 끝남

In [ ]:
# fish tonight. 로 끝나는지 찾기
re.findall('fish tonight.$', source)

In [ ]:
re.findall('fish tonight\.$' , source)

In [ ]:
source2 = 'fish tonight!'
re.findall('fish tonight.$', source2)

In [ ]:
re.findall('fish tonight\.$' , source2)

In [ ]:
re.findall('[wf]ish', source) # w 또는 f 뒤에 ish

In [ ]:
re.findall('[wsh]+', source) # w, s, h가 하나 이상

In [ ]:
re.findall('I (?=wish)', source) # wish 이전 I

In [ ]:
re.findall('(?<=I) wish', source) # I 다음에 wish

In [ ]:
class Person:
    Name = 'Default name' #member variable
    def Print(self):
        print('My name is {0}'.format(self.Name))

In [ ]:
p1 = Person()
p1.Print()
p1.Name = 'Krys Boyd'
p1.Print()

In [ ]:
Person.Print()

In [ ]:
Person.title = 'New title'
Person.title

In [ ]:
p1.title

In [ ]:
p1.age = 20
print(p1.age)

In [ ]:
Person.age

In [ ]:
import math
math.pow(2,10)

In [ ]:
import time
t = time.time() # return second value from 1970.1.1 00:00:00
time.sleep(5)
t2 = time.time()
print(t2 - t)