In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("환율변동조회_20210928.xls")

In [3]:
df

,환율변동조회,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기준일 : 2019-01-02 ~ 2021-09-28 통화 : 달러(미국) USD ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,일자,현찰사실때,현찰파실때,송금보내실때,송금받으실때,T/C사실때,외화수표파실때,매매기준율,직전대비,환가료율,미화환산율
3,2021-09-28,1206.24,1164.76,1197.1,1173.9,0,1173.27,1185.5,4.5,1.93675,1
4,2021-09-27,1201.66,1160.34,1192.5,1169.5,0,1168.87,1181,3,1.93513,1
...,...,...,...,...,...,...,...,...,...,...,...
677,2019-01-08,1145.7,1106.3,1137,1115,1139.51,1113.64,1126,6,4.36113,1
678,2019-01-07,1139.6,1100.4,1130.9,1109.1,1133.44,1107.75,1120,-4,4.37056,1
679,2019-01-04,1143.67,1104.33,1135,1113,1137.48,1111.64,1124,-3.5,4.36275,1
680,2019-01-03,1147.23,1107.77,1138.5,1116.5,1141.03,1115.14,1127.5,5,4.35713,1
681,2019-01-02,1142.14,1102.86,1133.5,1111.5,1135.97,1110.15,1122.5,0,4.35269,1

In [4]:
df.columns = df.iloc[2]

In [6]:
df.drop(index=[0,1,2], inplace=True)

In [7]:
df

2,일자,현찰사실때,현찰파실때,송금보내실때,송금받으실때,T/C사실때,외화수표파실때,매매기준율,직전대비,환가료율,미화환산율
3,2021-09-28,1206.24,1164.76,1197.1,1173.9,0,1173.27,1185.5,4.5,1.93675,1
4,2021-09-27,1201.66,1160.34,1192.5,1169.5,0,1168.87,1181,3,1.93513,1
5,2021-09-24,1198.61,1157.39,1189.5,1166.5,0,1165.87,1178,4,1.936,1
6,2021-09-23,1194.54,1153.46,1185.5,1162.5,0,1161.87,1174,-10,1.93325,1
7,2021-09-17,1204.72,1163.28,1195.6,1172.4,0,1171.77,1184,10.5,1.93738,1
...,...,...,...,...,...,...,...,...,...,...,...
677,2019-01-08,1145.7,1106.3,1137,1115,1139.51,1113.64,1126,6,4.36113,1
678,2019-01-07,1139.6,1100.4,1130.9,1109.1,1133.44,1107.75,1120,-4,4.37056,1
679,2019-01-04,1143.67,1104.33,1135,1113,1137.48,1111.64,1124,-3.5,4.36275,1
680,2019-01-03,1147.23,1107.77,1138.5,1116.5,1141.03,1115.14,1127.5,5,4.35713,1
681,2019-01-02,1142.14,1102.86,1133.5,1111.5,1135.97,1110.15,1122.5,0,4.35269,1

In [10]:
df['일자'] = pd.to_datetime(df['일자'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 679 entries, 2021-09-28 to 2019-01-02
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   현찰사실때    679 non-null    object
 1   현찰파실때    679 non-null    object
 2   송금보내실때   679 non-null    object
 3   송금받으실때   679 non-null    object
 4   T/C사실때   679 non-null    object
 5   외화수표파실때  679 non-null    object
 6   매매기준율    679 non-null    object
 7   직전대비     679 non-null    object
 8   환가료율     679 non-null    object
 9   미화환산율    679 non-null    object
dtypes: object(10)
memory usage: 58.4+ KB

In [24]:
df = df.astype('float')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 679 entries, 2021-09-28 to 2019-01-02
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   현찰사실때    679 non-null    float64
 1   현찰파실때    679 non-null    float64
 2   송금보내실때   679 non-null    float64
 3   송금받으실때   679 non-null    float64
 4   T/C사실때   679 non-null    float64
 5   외화수표파실때  679 non-null    float64
 6   매매기준율    679 non-null    float64
 7   직전대비     679 non-null    float64
 8   환가료율     679 non-null    float64
 9   미화환산율    679 non-null    float64
dtypes: float64(10)
memory usage: 58.4 KB

In [16]:
df.set_index(['일자'], inplace=True)

In [26]:
df = df.resample(rule='W').mean()

In [27]:
df

2,현찰사실때,현찰파실때,송금보내실때,송금받으실때,T/C사실때,외화수표파실때,매매기준율,직전대비,환가료율,미화환산율
일자,,,,,,,,,,
2019-01-06,1144.346667,1104.986667,1135.666667,1113.666667,1138.160,1112.310,1124.666667,0.50,4.357523,1.0
2019-01-13,1140.552000,1101.328000,1131.860000,1110.020000,1134.388,1108.668,1120.940000,-1.20,4.366026,1.0
2019-01-20,1143.464000,1104.136000,1134.800000,1112.800000,1137.282,1111.444,1123.800000,1.40,4.358550,1.0
2019-01-27,1148.142000,1108.658000,1139.380000,1117.420000,1141.938,1116.060,1128.400000,-0.80,4.359826,1.0
2019-02-03,1137.256000,1098.144000,1128.600000,1106.800000,1131.106,1105.452,1117.700000,-0.40,4.354702,1.0
...,...,...,...,...,...,...,...,...,...,...
2021-09-05,1179.888000,1139.312000,1170.920000,1148.280000,0.000,1147.660,1159.600000,-2.60,1.934126,1.0
2021-09-12,1185.586000,1144.814000,1176.560000,1153.840000,0.000,1153.220,1165.200000,2.60,1.933278,1.0
2021-09-19,1194.950000,1153.850000,1185.880000,1162.920000,0.000,1162.294,1174.400000,2.80,1.934754,1.0
2021-09-26,1196.575000,1155.425000,1187.500000,1164.500000,0.000,1163.870,1176.000000,-3.00,1.934625,1.0
2021-10-03,1203.950000,1162.550000,1194.800000,1171.700000,0.000,1171.070,1183.250000,3.75,1.935940,1.0